<div class="row">
    <div class="col-11">
        <h1>{{data.name}}</h1>
    </div>
    <div class="col-1">
        <div class="btn-group" role="group">
            <button (click)="goBack()" type="button" class="btn btn-default">
                <fa-icon [icon]="backIcon"></fa-icon>
            </button>
            <button (click)="saveForm()" type="button" class="btn btn-default">
                <fa-icon [icon]="saveIcon"></fa-icon>
            </button>
        </div>
    </div>
</div>
<form [formGroup]="form">
    <div class="form-group row">
        <label for="location" class="col-sm-2 col-form-label">Location</label>
        <div class="col-sm-10">
            <input formControlName="location" type="text" class="form-control" id="location"
                [ngClass]="{ 'is-invalid': errors('location') }">
            <div *ngIf="errors('location')" class="invalid-feedback">
                <div *ngIf="error('location', 'required')">Password is required</div>
            </div>
        </div>
    </div>
    <h2>Employees</h2>
    <ul formArrayName="employees">
        <ng-template ngFor let-employee let-i="index" [ngForOf]="employees.controls">
            <div class="row">
                <div class="col-sm-1">
                    <button (click)="removeEmployee(i)" type="button" class="btn btn-default">
                        <fa-icon [icon]="removeIcon"></fa-icon>
                    </button>
                </div>
                <div class="col-sm-11">
                    <div class="form-group row" [formGroupName]="i">
                        <label for="{{'name'+i}}" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input formControlName="name" type="text" class="form-control" id="name"
                                [ngClass]="{ 'is-invalid': errorsInEmployees('name', i) }">
                            <div *ngIf="errorsInEmployees('name', i)" class="invalid-feedback">
                                <div *ngIf="errorInEmployees('name', i, 'required')">Name is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ul>
    <button (click)="addEmployee()" type="button" class="btn btn-default">
        <fa-icon [icon]="addIcon"></fa-icon>
    </button>
</form>
<ng-template [ngIf]="saved">
    <h2>Saved data</h2>
    {{saved}}
</ng-template>